/* layout width*/
$layout-width: 1440px;

/* breakpoints width*/
$breakpoint-lg: 1280px;
$breakpoint-md: 700px;
$breakpoint-sm: 480px;

@mixin lg {
  @media screen and (max-width: $breakpoint-lg) {
    @content;
  }
}

@mixin md {
  @media screen and (max-width: $breakpoint-md) {
    @content;
  }
}

@mixin sm {
  @media screen and (max-width: $breakpoint-sm) {
    @content;
  }
}

