.boxed-layout {
  margin: 0 auto;
  max-width: 1158px;
  width:100%;
  padding-left: 24px;
  padding-right: 24px;
}


.wrapper-h-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    margin-bottom: 0.5em;
  }