/*  colors are ordered from the darkest to the brightest */

/* dark */

$dark-1:#141414;
$dark-2:#101010;


/* color */

$color-1:#D87D4A;
$color-2:#fbaf85;


/* light */

$light-1:#F1F1F1;
$light-2:#FAFAFA;
$light-3:#FFFFFF;

/* grey */

$grey-1:#CFCFCF;